# M√≥dulo 3

In [4]:
# importando bibliotecas
import pandas as pd
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\amanda rodrigues\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\amanda rodrigues\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)

In [64]:
# Importando os dados
dados = pd.read_excel('planilha_modulo3.xlsx', engine="openpyxl")

## Analisando brevemente a importa√ß√£o dos dados

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 28 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Unnamed: 0                                                                                                                 4271 non-null   int64
 1   ID                                                                                                                         4271 non-null   object
 2   IDADE                                                                                                                      4197 non-null   float64
 3   FAIXA IDADE                                                                                                                4271 non-null   object
 4   GENERO                                                                                                                     4262 non-null   object
 5   COR/RACA/ETNIA                                                                                                             4271 non-null   object
 6   PCD                                                                                                                        4271 non-null   object
 7   EXPERIENCIA_PROFISSIONAL_PREJUDICADA                                                                                       2190 non-null   object
 8   ASPECTOS_PREJUDICADOS                                                                                                      837 non-null    object
 9   VIVE_NO_BRASIL                                                                                                             4271 non-null   bool
 10  ESTADO ONDE MORA                                                                                                           4156 non-null   object
 11  UF ONDE MORA                                                                                                               4156 non-null   object
 12  REGIAO ONDE MORA                                                                                                           4171 non-null   object
 13  MUDOU DE ESTADO?                                                                                                           4171 non-null   float64
 14  REGIAO DE ORIGEM                                                                                                           772 non-null    object
 15  NIVEL DE ENSINO                                                                                                            4271 non-null   object
 16  √ÅREA DE FORMA√á√ÉO                                                                                                           4149 non-null   object
 17  QUAL SUA SITUA√á√ÉO ATUAL DE TRABALHO?                                                                                       4271 non-null   object
 18  SETOR                                                                                                                      3694 non-null   object
 19  NUMERO DE FUNCIONARIOS                                                                                                     3694 non-null   object
 20  GESTOR?                                                                                                                    3694 non-null   float64
 21  CARGO COMO GESTOR                                                                                                          713 non-null    object
 22  CARGO ATUAL                                                                                                                2981 non-null   object
 23  NIVEL                                                                                                                      2981 non-null   object
 24  FAIXA SALARIAL                                                                                                             3694 non-null   object
 25  QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE DADOS VOC√ä TEM?                                                                     3694 non-null   object
 26  QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE TI/ENGENHARIA DE SOFTWARE VOC√ä TEVE ANTES DE COME√áAR A TRABALHAR NA √ÅREA DE DADOS?  3694 non-null   object
 27  SALARIO                                                                                                                    3694 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(22)
memory usage: 905.2+ KB

In [7]:
dados.describe()

        Unnamed: 0        IDADE  MUDOU DE ESTADO?      GESTOR?        SALARIO
count  4271.000000  4197.000000       4171.000000  3694.000000    3694.000000
mean   2135.000000    31.169168          0.806281     0.193016   10969.266919
std    1233.075829     6.902803          0.395258     0.394719   19419.753189
min       0.000000    18.000000          0.000000     0.000000      35.000000
25%    1067.500000    26.000000          1.000000     0.000000    4269.500000
50%    2135.000000    30.000000          1.000000     0.000000    7625.500000
75%    3202.500000    35.000000          1.000000     0.000000   12778.500000
max    4270.000000    54.000000          1.000000     1.000000  485191.000000

## An√°lise dos dados

An√°lise de g√™neros:

In [8]:
#op√ß√µes dispon√≠veis na coluna GENERO
dados['GENERO'].unique()

array(['Masculino', 'Feminino', nan, 'Prefiro n√£o informar'], dtype=object)

In [9]:
qtd_fem = len(dados[dados['GENERO']=='Feminino'])
qtd_mas = len(dados[dados['GENERO']=='Masculino'])
qtd_pni = len(dados[dados['GENERO']=='Prefiro n√£o informar'])
qtd_tot = len(dados)

In [10]:
print('Em um total de ', qtd_tot, 'respostas, temos', qtd_fem, 'que assinalaram Feminino', qtd_mas, 'que assinalaram Masculino,', qtd_pni, 'que preferiram n√£o informar e', qtd_tot - qtd_fem - qtd_mas - qtd_pni, 'que deixaram o campo em branco.')

Em um total de  4271 respostas, temos 1056 que assinalaram Feminino 3194 que assinalaram Masculino, 12 que preferiram n√£o informar e 9 que deixaram o campo em branco.

## Atividade
üìå Que tal fazer um filtro para identificar pessoas que se declararam amarelas e outro de pessoas abaixo de 40 anos? E melhor, um filtro que misture ambos?üòâ

In [ ]:
# filtro das pessoas amarelas
amarelas = dados['COR/RACA/ETNIA']=='Amarela'

In [28]:
# dados apenas das pessoas amarelas
dados[amarelas].head(3)

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE DADOS VOC√ä TEM?,QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE TI/ENGENHARIA DE SOFTWARE VOC√ä TEVE ANTES DE COME√áAR A TRABALHAR NA √ÅREA DE DADOS?,SALARIO
13,13,zwh83jpy6x40b95xigsr2zwh83jpflu3,24.0,22-24,Masculino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,Finan√ßas ou Bancos,Acima de 3.000,0.0,NaN,Analista de Neg√≥cios/Business Analyst,J√∫nior,de R$ 4.001/m√™s a R$ 6.000/m√™s,de 1 a 2 anos,Menos de 1 ano,5296.0
85,85,zfeuk2m9jozahicujlla8zfeuk2g7apj,29.0,25-29,Feminino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,97,zbukfwxvpwlk6loglm0zbukfwx6bvyb6,40.0,40-44,Masculino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,Varejo,Acima de 3.000,0.0,NaN,Analista de BI/BI Analyst,S√™nior,de R$ 8.001/m√™s a R$ 12.000/m√™s,de 4 a 6 anos,Mais de 10 anos,11388.0

In [30]:
# filtro das pessoas menores ou igual a 40 anos
le40 = dados['IDADE']<= 40

In [31]:
# dados apenas das pessoas com 40 anos ou menos
dados[le40].head(3)

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE DADOS VOC√ä TEM?,QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE TI/ENGENHARIA DE SOFTWARE VOC√ä TEVE ANTES DE COME√áAR A TRABALHAR NA √ÅREA DE DADOS?,SALARIO
0,0,zzqzz3l9ily8nuo2m7wyzzqzz3w48o96,39.0,35-39,Masculino,Parda,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,Setor P√∫blico,Acima de 3.000,0.0,NaN,DBA/Administrador de Banco de Dados,J√∫nior,de R$ 8.001/m√™s a R$ 12.000/m√™s,de 1 a 2 anos,de 7 a 10 anos,11194.0
1,1,zzls2oftfn9law393oezzls2ofhvfpzd,32.0,30-34,Masculino,Parda,N√£o,"Sim, acredito que a minha a experi√™ncia profis...",Aprova√ß√£o em processos seletivos/entrevistas,True,...,Outra Op√ß√£o,Acima de 3.000,1.0,Supervisor/Coordenador,NaN,NaN,de R$ 4.001/m√™s a R$ 6.000/m√™s,de 3 a 4 anos,Menos de 1 ano,4695.0
3,3,zzbqh3uy7yk7k9qmkzzbqtb4s9faqspl,27.0,25-29,Masculino,Branca,N√£o,NaN,NaN,True,...,Setor Automotivo,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,S√™nior,de R$ 12.001/m√™s a R$ 16.000/m√™s,de 4 a 6 anos,N√£o tive experi√™ncia na √°rea de TI/Engenharia ...,15463.0

In [35]:
# dados com os filtros combinados
dados[amarelas & le40]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE DADOS VOC√ä TEM?,QUANTO TEMPO DE EXPERI√äNCIA NA √ÅREA DE TI/ENGENHARIA DE SOFTWARE VOC√ä TEVE ANTES DE COME√áAR A TRABALHAR NA √ÅREA DE DADOS?,SALARIO
13,13,zwh83jpy6x40b95xigsr2zwh83jpflu3,24.0,22-24,Masculino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,Finan√ßas ou Bancos,Acima de 3.000,0.0,NaN,Analista de Neg√≥cios/Business Analyst,J√∫nior,de R$ 4.001/m√™s a R$ 6.000/m√™s,de 1 a 2 anos,Menos de 1 ano,5296.0
85,85,zfeuk2m9jozahicujlla8zfeuk2g7apj,29.0,25-29,Feminino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,97,zbukfwxvpwlk6loglm0zbukfwx6bvyb6,40.0,40-44,Masculino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,Varejo,Acima de 3.000,0.0,NaN,Analista de BI/BI Analyst,S√™nior,de R$ 8.001/m√™s a R$ 12.000/m√™s,de 4 a 6 anos,Mais de 10 anos,11388.0
159,159,ytrnz3zyvn791t3dum1ytrnz3zp22tmk,37.0,35-39,Feminino,Amarela,N√£o,"Sim, acredito que a minha a experi√™ncia profis...","Oportunidades de progress√£o de carreira, Aprov...",True,...,Tecnologia/F√°brica de Software,de 101 a 500,0.0,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/m√™s a R$ 12.000/m√™s,de 1 a 2 anos,de 7 a 10 anos,10628.0
170,170,yri3z491ejizlpj9ylu2k3jyri3z4915,34.0,30-34,Masculino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,Varejo,Acima de 3.000,1.0,Gerente/Head,NaN,NaN,de R$ 16.001/m√™s a R$ 20.000/m√™s,de 3 a 4 anos,N√£o tive experi√™ncia na √°rea de TI/Engenharia ...,16650.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,3947,2tnsh0gxdu3aq4z2d2tnsh0hk15brx7q,31.0,30-34,Feminino,Amarela,N√£o,"Sim, acredito que a minha a experi√™ncia profis...",Quantidade de oportunidades de emprego/vagas r...,False,...,Tecnologia/F√°brica de Software,Acima de 3.000,1.0,Supervisor/Coordenador,NaN,NaN,de R$ 25.001/m√™s a R$ 30.000/m√™s,de 1 a 2 anos,N√£o tive experi√™ncia na √°rea de TI/Engenharia ...,29408.0
4058,4058,1t3ndwx8j50k0bz1t3ndwxdpwyg17c2k,27.0,25-29,Feminino,Amarela,N√£o,"Sim, acredito que a minha a experi√™ncia profis...",N√≠vel de cobran√ßa no trabalho / Stress no trab...,True,...,Tecnologia/F√°brica de Software,Acima de 3.000,0.0,NaN,Cientista de Dados/Data Scientist,S√™nior,de R$ 12.001/m√™s a R$ 16.000/m√™s,de 4 a 6 anos,N√£o tive experi√™ncia na √°rea de TI/Engenharia ...,14175.0
4176,4176,0qpa64gqpieg60xpygnajt70qpa64g1a,27.0,25-29,Feminino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4207,4207,0ibb8fj9qrwpswfqiil0ibb89e3e4hz3,30.0,30-34,Feminino,Amarela,N√£o,"Sim, acredito que a minha a experi√™ncia profis...","Oportunidades de progress√£o de carreira, Veloc...",True,...,√Årea de Consultoria,de 501 a 1.000,0.0,NaN,Cientista de Dados/Data Scientist,S√™nior,de R$ 16.001/m√™s a R$ 20.000/m√™s,de 4 a 6 anos,de 5 a 6 anos,16298.0
4262,4262,02vlm03c29g3fcys8tj06102vlm0983h,31.0,30-34,Masculino,Amarela,N√£o,N√£o acredito que minha experi√™ncia profissiona...,NaN,True,...,Tecnologia/F√°brica de Software,de 501 a 1.000,1.0,Team Leader/Tech Leader,NaN,NaN,de R$ 16.001/m√™s a R$ 20.000/m√™s,de 3 a 4 anos,de 3 a 4 anos,18402.0

------------------

## Exerc√≠cio de Revis√£o | Fun√ß√µes

Baixe o arquivo licitacoes.csv e verifique quantas licita√ß√µes est√£o com a ‚ÄúSitua√ß√£o Licita√ß√£o‚Äù igual a ‚ÄúEncerrado‚Äù.

In [45]:
# detectar a codifica√ß√£o
!pip install chardet
import chardet

# L√™ uma amostra do arquivo (em modo bin√°rio)
with open('licitacoes.csv', 'rb') as f:
    resultado = chardet.detect(f.read(10000))  # L√™ os primeiros 10 mil bytes

print(resultado)

Requirement already satisfied: chardet in c:\users\amanda rodrigues\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (5.2.0)
{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [50]:
licitacoes = pd.read_csv('licitacoes.csv', encoding='ISO-8859-1', sep=';')

In [55]:
qtd_encerrado = len(licitacoes[licitacoes['Situa√ß√£o Licita√ß√£o']=='Encerrado'])

In [58]:
print('Tem ',qtd_encerrado,' licita√ß√µes encerradas', sep='')

Tem 9016 licita√ß√µes encerradas

In [61]:
licitacoes['Situa√ß√£o Licita√ß√£o'].value_counts()

Situa√ß√£o Licita√ß√£o
Encerrado                         9016
Publicado                         3709
Evento de Resultado de Julgame    1922
Retifica√ß√£o                        127
Evento de Altera√ß√£o Publicad        93
Evento de Suspens√£o Publicado       72
Anula√ß√£o                            67
Revoga√ß√£o                           63
Divulgado                           55
Evento de Adiamento Publicado       46
Evento de Retifica√ß√£o Public        45
Evento de Revoga√ß√£o Publicad        40
Evento de Altera√ß√£o de Resul        37
Evento de Anula√ß√£o Publicado        18
Evento de Retifica√ß√£o Divulg         7
Inv√°lido                             4
Evento de Habilita√ß√£o Public         4
Evento de Altera√ß√£o Divulgad         4
Evento de Reabertura de Prazo        4
Evento de Adiamento Divulgado        3
Name: count, dtype: int64

## Agrupamento

### GroupBy

In [66]:
dados.groupby('GENERO')['ID'].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro n√£o informar      12
Name: ID, dtype: int64

In [69]:
dados.groupby('GENERO', dropna=False)['ID'].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro n√£o informar      12
NaN                        9
Name: ID, dtype: int64

### Value Counts

In [70]:
dados['GENERO'].value_counts(dropna = False)

GENERO
Masculino               3194
Feminino                1056
Prefiro n√£o informar      12
NaN                        9
Name: count, dtype: int64

- Use .value_counts() quando quiser frequ√™ncia simples.

- Use .groupby(...).nunique() quando quiser contar quantos indiv√≠duos √∫nicos (ou outra coluna √∫nica) tem por categoria.

Ou seja, tem uma pessoa marcada como "Feminino" com um ID duplicado ‚Äî por isso aparece 1056 vezes, mas s√≥ 1055 IDs diferentes.

In [72]:
dados[dados['IDADE']>30]['NIVEL'].value_counts()

NIVEL
S√™nior    525
Pleno     408
J√∫nior    274
Name: count, dtype: int64

In [73]:
dados[(dados['IDADE']>30) & (dados['GENERO']== 'Feminino')]['NIVEL'].value_counts()

NIVEL
Pleno     117
S√™nior    114
J√∫nior     96
Name: count, dtype: int64

### Pivot Table = Tabela Din√¢mica

In [76]:
pd.pivot_table(dados, values = ['ID'], index = ['GENERO'], columns = ['GESTOR?'], aggfunc='count')

                        ID
GESTOR?                0.0  1.0
GENERO
Feminino               754  132
Masculino             2212  578
Prefiro n√£o informar     9    2