# Módulo 4 - Estatística Básica

In [2]:
# importando bibliotecas
import pandas as pd
import numpy as np

In [7]:
# Importando os dados
dados = pd.read_excel('../Modulo_3/planilha_modulo3.xlsx', engine="openpyxl")

## Média, Mediana, Moda, Desvio Padrão, Máximo e Mínimo

In [5]:
media_idade = dados['IDADE'].mean()

In [6]:
mediana_idade = dados['IDADE'].median()

In [7]:
moda_idade = dados["IDADE"].mode()

In [8]:
desvio_padrao_idade = dados["IDADE"].std()

In [12]:
min_idade = dados["IDADE"].min()

In [13]:
max_idade = dados["IDADE"].max()

In [19]:
print('Análise das Idades')
print('MÉDIA        ', media_idade.round())
print('MEDIANA      ', mediana_idade.round())
print('MODA         ', moda_idade)
print('DESVIO PADRÃO', desvio_padrao_idade.round())
print('MÁXIMO       ', max_idade.round())
print('MÍNIMO       ', min_idade.round())

Análise das Idades
MÉDIA         31.0
MEDIANA       30.0
MODA          0    27.0
Name: IDADE, dtype: float64
DESVIO PADRÃO 7.0
MÁXIMO        54.0
MÍNIMO        18.0

In [24]:
pd.pivot_table(dados, values = ['IDADE'], index = ['GENERO'], columns = ['NIVEL'], aggfunc='mean').round(2)

                      IDADE
NIVEL                Júnior  Pleno Sênior
GENERO
Feminino              29.32  30.42  33.22
Masculino             27.46  30.07  33.30
Prefiro não informar  24.50  27.25  30.00

In [23]:
pd.pivot_table(dados, values = ['SALARIO'], index = ['GENERO'], columns = ['NIVEL'], aggfunc='mean').round(2)

                      SALARIO
NIVEL                  Júnior    Pleno    Sênior
GENERO
Feminino              4000.81  8039.93  11746.87
Masculino             3915.25  8469.88  15936.83
Prefiro não informar  2701.00  8458.75  10174.00

## Dados Faltantes

### Gênero

In [9]:
dados.groupby('GENERO', dropna= False)['ID'].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      12
NaN                        9
Name: ID, dtype: int64

podemos preencher os nulos por 'Prefiro não informar'

In [10]:
dados['GENERO'] = dados['GENERO'].fillna('Prefiro não informar')

In [11]:
dados.groupby('GENERO', dropna= False)['ID'].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      21
Name: ID, dtype: int64

### Idade

In [12]:
dados['IDADE'].isnull().value_counts()

IDADE
False    4197
True       74
Name: count, dtype: int64

In [13]:
dados[dados['IDADE'].isnull()]['FAIXA IDADE'].value_counts()

FAIXA IDADE
55+      68
17-21     6
Name: count, dtype: int64

temos que há pessoas que não registraram a idade, mas registraram a faixa etária.
podemos fazer a média da idade preenchida para cada faixa e preencher os dados faltantes com ela

In [28]:
media_17_21= dados[dados['FAIXA IDADE']== '17-21']['IDADE'].mean()

In [30]:
dados.loc[(dados['FAIXA IDADE']== '17-21') & (dados['IDADE'].isnull()), 'IDADE'] = media_17_21

In [31]:
dados[dados['IDADE'].isnull()]['FAIXA IDADE'].value_counts()

FAIXA IDADE
55+    68
Name: count, dtype: int64

In [32]:
dados[dados['FAIXA IDADE']== '55+']['IDADE']

9      NaN
66     NaN
96     NaN
121    NaN
156    NaN
        ..
4001   NaN
4043   NaN
4048   NaN
4061   NaN
4215   NaN
Name: IDADE, Length: 68, dtype: float64


Ninguém com mais de 55 anos preencheu sua idade, podemos supor que há um erro no formulário.

Um estratégia é preencher esses dados com a média geral

In [36]:
media_geral = int(dados['IDADE'].mean().round())

In [40]:
## substituindo valores
dados.loc[(dados['FAIXA IDADE']== '55+') & (dados['IDADE'].isnull()), 'IDADE'] = media_geral

In [41]:
# conferindo
dados[dados['IDADE'].isnull()]['FAIXA IDADE'].value_counts()

Series([], Name: count, dtype: int64)

### Salário

In [42]:
dados[dados['SALARIO'].isnull()]

,Unnamed: 0,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?,SALARIO
12,12,zwr9hqcpg513kaopenzwr9hibaqmldto,31.0,30-34,Masculino,Branca,Não,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,ztgepgj82o9oix0nztgepq2trcay6gpv,24.0,22-24,Feminino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Aprovação em processos seletivos/entrevistas,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,zsa9i6njd3e594mw0tvlk4zsa9iw86i9,24.0,22-24,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,zr4b2vm7dapp3linwqwn7zr4b2vmagqx,32.0,30-34,Masculino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,63,zm7o5yquakof0j6zm7vh3o0letznhdvh,26.0,25-29,Masculino,Branca,Não,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4242,4242,09oxwp6lsdwhw09ox1uobuxa8cq2pzma,26.0,25-29,Masculino,Branca,Não,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4252,4252,064pe9b1htw7mflhif064pe95dotv6yf,39.0,35-39,Masculino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4258,4258,03zjgijmnwv9qrlzbr03zjgij1eae1hw,25.0,25-29,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Senioridade das vagas recebidas em relação à s...,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4260,4260,03atvow8404tatt2iixjds03atvownkz,36.0,35-39,Masculino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4261,4261,02xomoejng6c9152kde02xomww412qpg,33.0,30-34,Masculino,Branca,Não,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
dados[dados['SALARIO'].isnull()]['FAIXA SALARIAL'].value_counts()
# quem não preencheu salário, também não preencheu faixa salarial

Series([], Name: count, dtype: int64)

In [58]:
## completando pela mediana
mediana_salario = dados[dados['SALARIO'].notnull()]['SALARIO'].median()

In [59]:
dados.loc[dados['SALARIO'].isnull(), 'SALARIO'] = mediana_salario